[submodule "lib/doe"]
	path = lib/doe
	url = git@github.com:anliting/doe.git
[submodule "lib/dt"]
	path = lib/dt
	url = git@github.com:anliting/dt.git
[submodule "lib/uri"]
	path = lib/uri
	url = git@github.com:anliting/uri.git
